<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <database>
    <provider name="oracle10.1"/>
    <dataSource name="Oracle" connectionString="Data Source=HDIMS_KWATER;User Id=HDIMS;Password=HDIMS;"/>
  </database>
  <sqlMaps>
    <sqlMap resource="Models/sqlmap/Main.xml"/>
    <sqlMap resource="Models/sqlmap/DataSearch.xml"/>
    <sqlMap resource="Models/sqlmap/Verify.xml"/>
    <sqlMap resource="Models/sqlmap/Statistics.xml"/>
    <sqlMap resource="Models/sqlmap/Report.xml"/>
    <sqlMap resource="Models/sqlmap/Common.xml"/>
    <sqlMap resource="Models/sqlmap/Login.xml"/>
    <sqlMap resource="Models/sqlmap/Code.xml"/>
    <sqlMap resource="Models/sqlmap/ManAuthMng.xml"/>
    <sqlMap resource="Models/sqlmap/DamBoObsMng.xml"/>
    <sqlMap resource="Models/sqlmap/SysStats.xml"/>
  </sqlMaps>
</sqlMapConfig>
