<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <database>
    <provider name="OleDb2.0"/>
    <!--<dataSource name="Oracle" connectionString="Provider=MSDAORA.1;Unicode=True;Persist Security Info=True;Data Source=HDIMS_KWATER;User Id=cims;Password=elpen; providerName=System.Data.OleDb;"/>-->
    <dataSource name="Oracle" connectionString="Provider=MSDAORA.1;Unicode=True;Persist Security Info=True;Data Source=HDIMS_KWATER;User Id=HDIMS;Password=HDIMS; providerName=System.Data.OleDb;"/>
  </database>
  <sqlMaps>
    <sqlMap resource="Models/sqlmap/Main.xml"/>
    <sqlMap resource="Models/sqlmap/DataSearch.xml"/>
    <sqlMap resource="Models/sqlmap/Verify.xml"/>
    <sqlMap resource="Models/sqlmap/Statistics.xml"/>
    <sqlMap resource="Models/sqlmap/Report.xml"/>
    <sqlMap resource="Models/sqlmap/Common.xml"/>
    <sqlMap resource="Models/sqlmap/Login.xml"/>
    <sqlMap resource="Models/sqlmap/Code.xml"/>
    <sqlMap resource="Models/sqlmap/ManAuthMng.xml"/>
    <sqlMap resource="Models/sqlmap/DamBoObsMng.xml"/>
    <sqlMap resource="Models/sqlmap/SysStats.xml"/>
    <sqlMap resource="Models/sqlmap/Board.xml"/>
    <sqlMap resource="Models/sqlmap/Evaluation.xml"/>
  </sqlMaps>
</sqlMapConfig>
